
<app-header></app-header>
<section class="w-100 spacer my-5 " ></section>
<section>
  <div class="container main-wrapper">
    <div class="row">
      <div class="col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-9">
          <div class="question-wrapper">
            <div class="heading h2 mb-4" >Ask A question</div>
            <div>
                <form class="questionForm" [formGroup]="questionForm" autocomplete="off">
                    <div class="mb-4 " >
                        <label  class="form-label">Title</label>
                        <input type="text" name="title" id="title" class="form-control" formControlName="title" placeholder="Enter title"> 
                        <input type="text" class="form-control d-none" name="email" [(ngModel)]="email" formControlName="email">
                        <div *ngIf="title.invalid && (title.dirty || title.touched)"
                            class="alert alert-danger">

                            <div *ngIf="title.errors?.['required']">
                                Title is required.
                            </div>
        
                        </div>
                    </div>
                    <div class="mb-4 " >
                        <label class="form-label">Question</label>
                        <angular-editor id="question" formControlName="question" class="question"  [config]="editorConfig"></angular-editor>
                        <div *ngIf="question.invalid && (question.dirty || question.touched)"
                            class="alert alert-danger">

                            <div *ngIf="question.errors?.['required']">
                                Question is required.
                            </div>
        
                        </div>
                    </div>

                    <button class="mt-2 mb-5" mat-raised-button color="primary" type="submit" (click)="submit()">Ask</button>
                </form>
            </div>

          </div>
      </div>
    </div>
  </div>
</section>


<app-sign-in></app-sign-in>